<template name="postSubmit">
    <form id="" class="main">

        <div id="" class="control-group">
            <label class="control-label" for="url">URL</label>
            <div id="" class="controls">
                <input name="url" type="text" value="" placeholder="Your URL" />
            </div>
        </div>

        <div id="" class="control-group">
            <label class="control-label" for="title">Title</label>
            <div id="" class="controls">
                <input name="title" type="text" value="" placeholder="Name your post"/>
            </div>
        </div>

        <div id="" class="control-group">
            <label class="control-label" for="message">Message</label>
            <div id="" class="controls">
                <textarea name="message" type="text" value=""></textarea>
            </div>
        </div>

        <div id="" class="control-group">
            <div id="" class="controls">
                <input id="" type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>

    </form>
</template>