<template name="postEdit">
    <form id="" class="main">

        <div id="" class="control-group">
            <label class="control-label" for="url">URL</label>
            <div id="" class="controls">
                <input name="url" type="text" value="{{url}}" placeholder="Your URL" />
            </div>
        </div>

        <div id="" class="control-group">
            <label class="control-label" for="title">Title</label>
            <div id="" class="controls">
                <input name="title" type="text" value="{{title}}" placeholder="Name your post"/>
            </div>
        </div>

        <div id="" class="control-group">
            <label class="control-label" for="message">Message</label>
            <div id="" class="controls">
                <textarea name="message" type="text">{{message}}</textarea>
            </div>
        </div>

        <div id="" class="control-group">
            <div id="" class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>

        <hr>

        <div id="" class="control-group">
            <div id="" class="controls">
                <a href="#" class="btn btn-danger delete">Delete Post</a>
            </div>
        </div>

    </form>
</template>